<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
    <?include $(sys.CURRENTDIR)Definitions.wxi ?>

    <Product Id="FF308CCA-06D6-4604-8FA6-9CEF87BD70CC" Name="WiX Experiment" Language="1033" Version="1.0.0.0" Manufacturer="No one, it's software" UpgradeCode="32bef88c-06b5-4c06-a0b3-ea191441a71f">
        <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

        <MajorUpgrade DowngradeErrorMessage="A newer version of WiX Experiment is already installed." />
        <MediaTemplate EmbedCab="yes" />

        <Feature Id="Complete" Title="WiX Experiment package" Description="A WiX installer experiment - the complete package" Display="expand" Level="1" ConfigurableDirectory="INSTALLFOLDER">

            <Feature Id="MainProgram" Title="WiX Experiment demo application" Description="The experiment command line tool, shows install location and plugins deployed" Level="1" Absent="disallow" AllowAdvertise="no" InstallDefault="followParent">
                <ComponentRef Id="MainExecutable"/>
                <?pragma include.componentRefsFor $(var.App)?>
            </Feature>

            <Feature Id="PluginFeature" Title="Optional Plugin" Description="An optional plugin that adds more greetings" Level="4" Absent="allow" AllowAdvertise="no" InstallDefault="followParent">
                <ComponentRef Id="OptionalPlugin"/>
                <?pragma include.componentRefsFor $(var.Plugin)?>
            </Feature>
        </Feature>

        <CustomAction Id="LaunchFile" FileKey="CoreExecutable" ExeCommand="" Return="asyncNoWait" />

        <InstallExecuteSequence>
            <Custom Action="LaunchFile" After="InstallFinalize">NOT Installed</Custom>
        </InstallExecuteSequence>

        <WixVariable Id="WixUILicenseRtf" Value="License.rtf" />
        <WixVariable Id="WixUIBannerBmp" Value="Images\WixUIBannerBmp.bmp" />
        <WixVariable Id="WixUIDialogBmp" Value="Images\WixUIDialogBmp.bmp" />
        <UIRef Id="WixUI_FeatureTree" />
        <!-- WixUI_Mondo gives the Typical/Custom/Full options. WixUI_FeatureTree skips this step -->
        <UIRef Id="WixUI_ErrorProgressText" />
    </Product>

    <Fragment>
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFilesFolder">
                <Directory Id="INSTALLFOLDER" Name="WixExperiment">
                    <Directory Id="PluginsFolder" Name="Plugins"/>
                </Directory>
            </Directory>

            <Directory Id="ProgramMenuFolder" Name="Programs">
                <Directory Id="ProgramMenuDir" Name="WiX Experiment"/>
            </Directory>

            <Directory Id="DesktopFolder" Name="Desktop"/>
        </Directory>
    </Fragment>

    <Fragment>
        <?pragma build.componentsFor "$(var.App)" in "INSTALLFOLDER"?>
        <Component Id="MainExecutable" Directory="INSTALLFOLDER">
            <File Id="CoreExecutable" Name="WixExperimentApp.exe" Source="$(var.App)" KeyPath="yes">
                <Shortcut Id="_Product_Shortcut_32_3120" Directory="ProgramMenuDir" Name="WixExperiment" WorkingDirectory="INSTALLDIR" Advertise="yes"/>
                <Shortcut Id="_Product_Shortcut_33_3130" Directory="DesktopFolder" Name="WixExperiment" WorkingDirectory="INSTALLDIR" Advertise="yes"/>
            </File>
            <RemoveFolder Id="_Product_RemoveFolder_35_3145" Directory="INSTALLFOLDER" On="uninstall"/>
            <RemoveFolder Id="_Product_RemoveFolder_44_2437" Directory="ProgramMenuDir" On="uninstall"/>
        </Component>
    </Fragment>

    <Fragment>
        <?pragma build.componentsFor "$(var.Plugin)" in "PluginsFolder"?>
        <Component Id="OptionalPlugin" Directory="PluginsFolder">
            <File Id="OptionalPluginDll" Name="OptionalPlugin.dll" Source="$(var.Plugin)" KeyPath="yes"/>
        </Component>
    </Fragment>
</Wix>