<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:iis="http://schemas.microsoft.com/wix/IIsExtension"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">

    <?include $(sys.CURRENTDIR)Definitions.wxi ?>
    <?define PublishTemp=$(publish.tempDirectory)?>
    <?pragma publish.webSiteProject "$(var.SiteProject)" to "$(var.PublishTemp)" for "Release"?>

    <Product Id="CBE03671-3D8E-4E95-91A3-84A9D7F18CCE" Name="WebsiteSetupProject" Language="1033" Version="1.0.0.0" Manufacturer="No one, it's software" UpgradeCode="aaaa9658-9ba6-425b-8df0-1be40784aaaa">
        <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

        <MajorUpgrade DowngradeErrorMessage="A newer version of WiX Experiment website is already installed." />
        <MediaTemplate EmbedCab="yes" />

        <Feature Id="Complete" Title="WiX Experiment website package" Description="A WiX installer experiment - the complete package" Display="expand" Level="1">
            <Feature Id="WebSiteFeature" Title="WebsiteSetupProject" Description="A WiX installer for a web site" Level="1">
                <ComponentGroupRef Id="IisWebSiteSetup" />
                <ComponentGroupRef Id="WebsiteContent" />

                <!-- Install-time changes: -->
                <ComponentRef Id="ChangeConfig"/>
            </Feature>

            <Feature Id="PluginFeature" Title="Optional Plugin" Description="An optional plugin that adds more greetings" Level="4" Absent="allow" AllowAdvertise="no" InstallDefault="followParent">
                <ComponentGroupRef Id="OptionalPlugin" />
            </Feature>
        </Feature>

        <WixVariable Id="WixUILicenseRtf" Value="License.rtf" />
        <WixVariable Id="WixUIBannerBmp" Value="Images\WixUIBannerBmp.bmp" />
        <WixVariable Id="WixUIDialogBmp" Value="Images\WixUIDialogBmp.bmp" />
        <UIRef Id="WixUI_ErrorProgressText" />

        <!-- WixUI_Mondo gives the Typical/Custom/Full options. WixUI_FeatureTree skips this step -->
        <UIRef Id="WixUI_FeatureTree" />
    </Product>

    <Fragment>
        <!-- Find the default location of sites installed on IIS -->
        <Property Id="SITEROOTINSTALLFOLDER">
            <RegistrySearch Id="GetInetpubDirectory" Root="HKLM" Key="SOFTWARE\Microsoft\InetStp" Name="PathWWWRoot" Type="directory" />
        </Property>
        <!-- Defines the root of the directory structure that the product is to install to. All other paths are relative to this unless specified -->
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="INSTALLFOLDER" Name="WixExperimentWebFolder" />
        </Directory>
        <!-- IIS web root installation folder -->
        <DirectoryRef Id="INSTALLFOLDER">
            <Directory Id="SITEROOTINSTALLFOLDER" Name=".">
                <Directory Id="SITE_INSTALLFOLDER" Name="WixExperimentWebFolder">
                    <?pragma build.directoriesMatching "$(var.PublishTemp)" withPrefix "SITE" ?>
                </Directory>
            </Directory>
        </DirectoryRef>
        <DirectoryRef Id="SITE_BIN">
            <!-- This is how to reference a new folder inside an auto-generated one -->
            <Directory Id="PluginsFolder" Name="Plugins"/>
        </DirectoryRef>
    </Fragment>

    <Fragment>

        <ComponentGroup Id="WebsiteContent">
            <!-- Add published site files -->
            <!-- the pragma below sets all the correct directories, so we must NOT have a directory on the component group -->
            <?pragma components.publishedWebsiteIn "$(var.PublishTemp)" inDirectoriesWithPrefix "SITE" rootDirectory "SITE_INSTALLFOLDER" ?>
        </ComponentGroup>

        <!-- Example of an install-time change to installed website, using built-in WiX Utils extension -->
        <Component Id="ChangeConfig" Guid="58FC4D11-CF02-4406-89CF-563BEF116707" Directory='SITE_INSTALLFOLDER' >
            <!-- The file with id `SITE_Web_config` will have been added by the `components.publishedWebsiteIn` pragma -->
            <CreateFolder/>

            <util:XmlFile Id="_Product_XmlFile_64_5013" Action="setValue" Permanent="yes" File="[#SITE_Web_config]"
                 ElementPath="/configuration/appSettings/add[\[]@key='ReplaceAtInstall'[\]]" Name="value"
                 Value="I have been replaced! Installed to [SITE_INSTALLFOLDER]" />
        </Component>

        <!-- Standard IIS setup with WiX built-in IIS extension -->
        <ComponentGroup Id="IisWebSiteSetup" Directory="SITE_INSTALLFOLDER">
            <!-- IIS Site Configuration -->
            <Component Id="IisSiteComponent" Guid="9A20563B-694A-497D-B8C9-A6851A2D288B" KeyPath="yes">
                <CreateFolder />
                <iis:WebSite Id="IisWebSite" AutoStart="yes" ConfigureIfExists="no" ConnectionTimeout="30" Description="Wix Experiment Website" Directory="SITE_INSTALLFOLDER" SiteId="*" StartOnInstall="yes">
                    <iis:WebAddress Id="_Product_WebAddress_56_5441" IP="*" Port="80" Secure="no" />
                    <iis:WebDirProperties Id="_Product_WebDirProperties_58_5446" AnonymousAccess="yes" AspDetailedError="no" BasicAuthentication="no" WindowsAuthentication="no" />
                    <iis:WebApplication Name="WixExperimentWebsite" Id="_Product_WebApplication_60_5452" AllowSessions="no" ClientDebugging="no" DefaultScript="JScript" Isolation="medium" ParentPaths="default" ScriptTimeout="30" SessionTimeout="0" WebAppPool="_Product_WebAppPool_66_5541" />
                </iis:WebSite>
                <RemoveFolder Id="_Product_RemoveFolder_77_2612" On="uninstall" />
            </Component>

            <!-- Web Application Pool -->
            <Component Id="IisWebAppPoolComponent" Guid="A1A037B5-938C-48AF-BA65-C906F53A2BB1" KeyPath="yes" Permanent="yes">
                <iis:WebAppPool Id="_Product_WebAppPool_66_5541" Name="WixExperimentAppPool" ManagedPipelineMode="integrated" ManagedRuntimeVersion="v4.0">
                    <iis:RecycleTime Value="05:00" />
                </iis:WebAppPool>
            </Component>
        </ComponentGroup>
    </Fragment>

    <Fragment>
        <ComponentGroup Id="OptionalPlugin" >
            <Component Id="OptionalPluginRoot" Directory="PluginsFolder" Guid="78686C4B-D067-4510-A14B-7535A30C557E">
                <File Id="OptionalPluginDll" Name="OptionalPlugin.dll" Source="$(var.Plugin)" KeyPath="yes"/>
            </Component>
            <?pragma components.uniqueDependenciesOf "$(var.Plugin)" in "SITE_BIN"?>
        </ComponentGroup>
    </Fragment>
</Wix>